header{
    background-color: aqua;
    color:chartreuse;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid rgb(238, 255, 0);
}

main{
    background-color: aliceblue;
    color:black;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}